/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  text-align: center;
  overflow-x: hidden;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000000;
  color: #fff;
  padding: 1rem;
  position: relative;
}

/* ===================== Navigation =============================== */

.nav-logo {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem 0;
  border-bottom: 1px solid rgb(107, 102, 102);
  cursor: pointer;
  width: 100%;
  margin-bottom: 4rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-logo .logo {
  font-size: 3rem;
  font-weight: 600;
  margin: 2rem;
}

.nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.nav a {
  text-decoration: none;
  color: #740909;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  /* border: 1px solid #fff; */
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.3rem;
}

.nav a:hover {
  color: #cc2424;
  /* background: #02b2fe; */
  transform: translateY(-10px);
  border-bottom: solid 3px #075fe4;

  padding: 1rem;
  transition: all ease-in-out 0.5s;
  color: #fff;
}

.nav a:link {
  color: #740909;
}

.nav a:focus {
  color: #ff6803;
}

@media screen and (max-width: 800px) {
  .nav-logo .logo {
    font-size: 2rem;
  }

  .nav {
    display: none;
    position: absolute;
    top: 5rem;
    right: 0;
    border-radius: 10px;
    height: 80vh;
    width: 300px;
    z-index: 1000;
    color: #fff;
    background-color: #075fe4;
  }

  .nav a {
    display: block;
    margin: 0;
    padding: 2rem;
    color: #fff;
    text-decoration: none;
  }

  .toggle-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  .toggle-menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px 0;
    background-color: #fff;
  }

  .toggle-menu:hover + .nav {
    display: block;
  }
}

/* ======================== Intro Section ============================ */
.intro-container {
  background-color: #000000;
  height: 80vh;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.redc {
  color: #740909;
}

.intro-container .oly-image {
  position: relative;
}
.intro-container .intro h1,
h2 {
  font-variant: small-caps;
}
img {
  cursor: pointer;
}

.oly-image img {
  grid-column: 1/3;
  grid-row: 2/3;
  height: 600px;

  filter: drop-shadow(0px -80px 30px rgba(116, 9, 9, 0.6));
  animation: sliderInFromBottom 1s ease-out;
  cursor: pointer;
  padding: 1rem;
}
@keyframes sliderInFromBottom {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

.intro {
  padding: 2rem;
  padding-top: 6rem;

  animation: sliderInFromBottom 2s ease-out;
}

.intro-container .left .intro h1 {
  font-size: 4rem;
  background: linear-gradient(to right, #740909, #2f2397);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.short-discriptions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem;
  align-items: flex-start;
  margin-left: 10rem;
}
.common-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(to right, #740909, #2f2397);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px #000000;
}
.btn button {
  background-color: #000;
}

.common-btn:hover {
  border: blue solid 1px;
}

.social {
  padding: 0.9rem;
}
.social a {
  padding: 1rem;
  position: relative;
  &:hover {
    color: #fff;

    padding: 2rem;
  }
}

.social a i {
  border: 1px solid blue;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #972323;
  &:hover {
    color: #ffffff;
  }
}

.spacingline {
  line-height: 1.5rem !important;
  /* border: 1px solid #fff; */
  height: 300px;
  margin-top: 10rem;
  padding-top: 5rem;
}
.short:hover {
  transform: translateY(-3px);
  background-color: rgb(33, 33, 33);
  transition: 0.3 ease-in-out;
  /* padding: 1rem; */
  border-radius: 10px;
}

.button {
  display: flex;
  justify-content: center;

  width: 600px;

  gap: 1rem;
  padding: 2rem;
  margin-left: 3rem;
}
.button a,
.social a {
  color: #fff;
  text-decoration: none;
  outline: none;
  border: none;
  overflow: hidden;
  z-index: 1;
  position: relative;
  /* border: 1px solid #fff; */
}
.social {
  padding: 2rem;
  /* border: 1px solid #fff; */
}

.social i:hover {
  transition: all ease-in-out 0.5s;
  transform: translateY(-20px);

  box-shadow: 0px 0px 30px 5px #02b2fe;

  padding: 1rem;
}
.button a:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;

  background-color: #000;
  color: #fff;

  z-index: -1;
  transition: 0.3s;
}

.button a:hover:before {
  width: 100%;
}

@media screen and (max-width: 800px) {
  body {
    background-color: #000;
    max-width: 100%;
  }

  .intro-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .short-discriptions {
    font-size: 1rem;
    margin-left: 1rem;
  }

  .oly-image img {
    grid-row: 5/2;
    height: 20rem;

    border-radius: 50%;
  }

  .left {
    grid-row: 2/3;

    padding-top: 0;
  }

  .left .intro h1,
  .left .intro h2 {
    font-size: 2rem;
  }

  .left .intro {
    padding-top: 10px;
    margin-top: none;
    font-size: medium;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .intro-container {
    padding-right: 10rem;
    display: grid;
    grid-template-columns: 1fr;
  }

  .intro-container .left .intro h1 {
    font-size: 3rem;
  }

  .left .intro {
    width: 100%;
    font-size: 2rem;
    padding: 0px;
    padding-right: 15rem;
  }
  .left .intro {
    display: flex;
    flex-direction: column;

    width: 100%;

    margin-top: none;
    font-size: 12px;
    width: 100%;

    padding-bottom: 1rem;
    padding: 2rem;
  }
  .left {
    width: 100vw;
  }
  .oly {
    font-size: 2rem;
  }
  .left .intro h2 {
    font-size: 1.5rem;
  }
  .left .intro h1 {
    font-size: 1.5rem;
  }
  .oly-image {
    padding-right: 15rem;
  }
  .oly-image img {
    grid-row: 5/2;

    height: 20rem;
    margin-left: 4rem;

    border-radius: 50%;
  }
  .spacingline {
    line-height: 1.3rem !important;
    /* border: 1px solid #fff; */
    height: 400px;
  }

  .social {
    margin-left: 0;

    display: flex;
    gap: 1rem;
  }
  .social a {
    &:hover {
      color: #fff;

      padding: 1rem;
    }
  }
  .social a i {
    font-size: small;

    border-radius: 50%;
    box-shadow: 0px 0px 10px #972323;
  }
  .button-intro {
    display: flex;

    margin-left: 0;

    width: 25rem;
  }
  .button-intro a {
    font-size: 0.8rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 400px) {
  .intro-container {
    /* padding-right: 100rem; */
    display: grid;
    grid-template-columns: auto;
    /* border: 1px solid #fff; */
    padding: 2rem;
    padding-left: 0px;
    overflow: hidden;
    height: fit-content;
    font-size: auto;
  }
  .oly-image {
    padding-right: 0rem;
  }
  .oly-image img {
    grid-row: 5/2;

    height: 20rem;
    margin-left: 0rem;
  }

  .social {
    margin-left: 0;

    display: flex;
    gap: 0.2rem;
    padding-right: 5rem;
  }

  .button-intro {
    display: flex;

    margin-left: 0;

    width: fit-content;
    padding-right: 8rem;
    margin-right: 9rem;
  }
  .button-intro a {
    font-size: 0.5rem;
    font-weight: 600;
  }
}

/* ====================== About Section ============================= */
.about-section {
  margin: auto;
  padding: 3rem;
  background-color: #000000;
  height: 70%;
  width: 100vw;
  margin-top: 6rem;
}
.big {
  font-size: 3rem;
}
.about-section .about-container .oly-image2 img {
  border-radius: 50%;
}
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 3.5rem;
  padding-top: 0;
  margin-top: 0;
}
.spacingline p {
  line-height: 1rem;
  /* border: 1px solid #fff; */
  padding: 2rem;
}

.about-me {
  color: #fff;
  font-size: large;
  font-variant: small-caps;
}
.about-box {
  margin: 2rem;
  padding: 2rem;
  border: 1px solid #190cab;
  box-shadow: 1px 0px 10px 10px #2b0974;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  background-color: #ffffff;
  cursor: pointer;

  &:hover {
    background-color: #000;
  }
}

.about-box:hover {
  transform: scale(1.1);
}

.btn button {
  border: none;
  margin: 1rem;
}

@media screen and (max-width: 800px) {
  .about-section {
    background-color: #000;

    padding: 2rem;
    text-align: center;
  }
  .about-section .about-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10rem;
  }
  .about-section .about-container .oly-image2 img {
    height: 20rem;

    position: static;
    margin: 4rem;
    margin-top: 10rem;
  }
  .about-box:hover {
    transform: translateY(-30px);
  }
}
.variant {
  font-variant: small-caps;
}

.line::after {
  content: " ------- ";
  color: #972323;
  font-size: 1rem;
}
.par {
  margin-top: 2rem;
}
.line {
  margin-bottom: 3rem;
  /* border: 1px solid #fff; */
  /* padding-bottom: 3rem; */
}

.line::before {
  content: "------- ";
  color: #972323;
  font-size: 1rem;
}
.head {
  font-size: 2rem;
  margin: 1rem;
  font-variant: small-caps;
  background: linear-gradient(
    to right,
    #d5e1f2,
    #bee0ee,
    #baaaeb,
    #2f2397,
    #fff
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.box-all {
  height: 400px;
  padding-bottom: 2rem;
}
.aboutmee::after,
.aboutmee::before {
  content: " ----- ";
  color: #740909;
}

@media screen and (max-width: 500px) {
  .about-section {
    text-align: center;

    margin-top: 10rem;
  }
  .about-section .about-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
  .par {
    width: 25rem;

    margin-left: 0;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-right: 4rem;
  }
  .about-section .about-container .oly-image2 img {
    height: 20rem;

    margin: 4rem;
    margin-top: 15rem;
  }
  .about-section .about-container .about-content {
    width: 25rem;
  }

  .about-contact {
    display: flex;
  }
}

@media screen and (max-width: 400px) {
  .about-section {
    text-align: center;

    margin-top: 3rem;
    padding: 0rem;
    font-size: 0.8;
    height: fit-content;
  }
   .about-section .about-container .oly-image2 img {
    height: 20rem;

    margin: 4rem;
    margin-top: 0rem;
  }
  .about-section .about-container {
    height: fit-content;
  }
  .par {
    width: 25rem;

    margin-left: 0;
    padding-left: 1rem;

    font-size: 0.8rem;
    padding: 5rem;
    padding-top: 0rem;
  }
}
/* ======================= Skills Section ============================= */
.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.languages {
  padding: 3rem;
}

@keyframes sliderBox {
  from {
    transform: translateZ(100%);
  }

  to {
    transform: translateZ(0%);
  }
}
.skills-box {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
  border: 1px solid #fff;
  margin-right: auto;
}

.head {
  margin: 0;
}
.skills-box:hover {
  transform: translateY(-10px);
}
.web-skill,
.web-skill:hover {
  animation: sliderBox 1s ease-out;
  /* padding: 6rem; */
  background: linear-gradient(
      to right,
      rgba(66, 67, 67, 0.55),
      rgba(60, 60, 61, 0.55)
    ),
    url("images/web-development.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    background: linear-gradient(
        to right,
        rgba(32, 32, 32, 0.55),
        rgba(60, 60, 61, 0.55)
      ),
      url("images/web-development.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
}

.web-skill .par {
  padding-top: 0;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}
.c-skill,
.c-skill:hover {
  background: linear-gradient(
      to right,
      rgba(66, 67, 67, 0.55),
      rgba(60, 60, 61, 0.55)
    ),
    url("images/c++.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    background: linear-gradient(
        to right,
        rgba(32, 32, 32, 0.55),
        rgba(60, 60, 61, 0.55)
      ),
      url("images/c++.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
}

.java-skill,
.java-skill:hover {
  background: linear-gradient(
      to right,
      rgba(66, 67, 67, 0.55),
      rgba(60, 60, 61, 0.55)
    ),
    url("images/java.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    background: linear-gradient(
        to right,
        rgba(32, 32, 32, 0.55),
        rgba(60, 60, 61, 0.55)
      ),
      url("images/java.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
}
.python-skill {
  background: linear-gradient(
      to right,
      rgba(66, 67, 67, 0.55),
      rgba(60, 60, 61, 0.55)
    ),
    url("images/py.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    background: linear-gradient(
        to right,
        rgba(32, 32, 32, 0.55),
        rgba(60, 60, 61, 0.55)
      ),
      url("images/py.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
}
.sql-skill {
  background: linear-gradient(
      to right,
      rgba(66, 67, 67, 0.55),
      rgba(60, 60, 61, 0.55)
    ),
    url("images/web-development.jpg");
  /* background-blend-mode: overlay; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    background: linear-gradient(
        to right,
        rgba(32, 32, 32, 0.55),
        rgba(60, 60, 61, 0.55)
      ),
      url("images/web-development.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
}

.php-skill,
.php-skill:hover {
  background: linear-gradient(
      to right,
      rgba(66, 67, 67, 0.55),
      rgba(60, 60, 61, 0.55)
    ),
    url("images/web-development.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    background: linear-gradient(
        to right,
        rgba(32, 32, 32, 0.55),
        rgba(60, 60, 61, 0.55)
      ),
      url("images/web-development.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
}

@media screen and (max-width: 800px) {
  .skills-container {
    display: flex;
    flex-direction: column;
    /* padding-left: 10rem; */
    justify-content: center;
    align-items: center;
  }
  .box-paragraph {
    padding: 0rem;
  }
}
@media screen and (max-width: 500px) {
  .skills-container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    padding-left: 0rem;
  }

  .box-all {
    width: auto;

    /* border: #fff 1px solid; */
    cursor: pointer;
  }
  .box-paragraph {
    font-size: 1rem;
    padding: 4rem;
    padding-top: 1rem;

    padding-left: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .box-all {
    /* width: fit-content; */

    /* border: #fff 1px solid; */
    cursor: pointer;
    /* padding: 4rem; */
    /* margin: 1rem; */
  }
  .box-paragraph {
    font-size: 0.8rem;
    padding-right: 6rem;
  }

  .skills {
    padding: 3rem;
    /* border: 1px solid #fff; */
    overflow: hidden;
    /* padding: 11rem; */
    /* padding-right: 25rem; */
  }
  .skills .skills-container {
    padding: 3rem;
  }
  .about-box {
    width: fit-content;
  }
  .cont {
    /* height: 0px; */
    /* font-size: 1rem; */
    width: 20rem;
  }
}

@media screen and (max-width: 400px) {
  .skills .heading h1 {
    font-size: 18px;
  }

  .skills .languages img {
    width: 60px;
    height: 60px;
  }

  .skills-container img {
    width: 60px;
    height: 60px;
  }

  .skills .marquee img {
    width: 50px;
    height: 50px;
  }

  .project-containerall .heading h1 {
    font-size: 18px;
  }

  .project-container .about-box {
    margin: 10px 0;
  }

  .project-container .project-par {
    font-size: 12px;
  }

  .pro-more .more {
    font-size: 12px;
    padding: 5px;
  }
}

/*================ Projects Section ===============*/
.project-container {
  background-color: #000000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem;
  min-height: 600px;
  margin-top: 2rem;
  text-align: center;
  justify-content: center;
  margin-left: 3rem;
}

h1 {
  font-size: 1rem;
}
.project-par {
  margin: 1rem;
  padding: 2rem;
}

.project-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-box {
  width: 400px;
  padding: 3rem;
}
.more {
  background-color: #740909;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 0px 20px #000;
  &:hover {
    background-color: #000;
    border: 1px solid blue;
    transition: all 0.3s ease-in-out;
  }
}
.pro-more {
  display: flex;
  /* border: 1px #fff solid; */
  width: 20rem;
  padding: 0;
  margin-right: 1rem;
}

.ctourist {
  background: linear-gradient(
      to right,
      rgba(66, 67, 67, 0.55),
      rgba(60, 60, 61, 0.55)
    ),
    url("images/home.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
  &:hover {
    background: linear-gradient(
        to right,
        rgba(32, 32, 32, 0.55),
        rgba(60, 60, 61, 0.55)
      ),
      url("images/home.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
}

.tour {
  background: linear-gradient(
      to right,
      rgba(66, 67, 67, 0.55),
      rgba(60, 60, 61, 0.55)
    ),
    url("images/home.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.5rem;
  &:hover {
    background: linear-gradient(
        to right,
        rgba(32, 32, 32, 0.55),
        rgba(60, 60, 61, 0.55)
      ),
      url("images/home.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
}

.shopping-cart {
  background: linear-gradient(
      to right,
      rgba(66, 67, 67, 0.55),
      rgba(60, 60, 61, 0.55)
    ),
    url("images/shopping-cart.png");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;

  &:hover {
    background: linear-gradient(
        to right,
        rgba(32, 32, 32, 0.55),
        rgba(60, 60, 61, 0.55)
      ),
      url("images/shopping-cart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
}

@media screen and (max-width: 800px) {
  .project-container {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .project-container {
    padding: 4rem;
    margin-top: 4rem;
    margin-right: 2rem;

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .pro-more {
    display: flex;

    width: 20rem;
  }
  .project-par {
    padding: 1rem;
  }
  .tour .project-par {
    padding-top: 0;
  }
}
@media screen and (max-width: 400px) {
  .project-par {
    padding: 0.8rem;
  }
  .box-all {
    width: 20rem;
    padding: 1rem;
  }
}
/* ======================== Contact Section ========================*/

.contact-me {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.contact-me input:not(input[type="submit"]),
textarea {
  display: block;
  width: 35rem;
  margin: 1rem;
  padding: 1.2rem;
  border-radius: 10px;
  font-size: 1rem;
}

.contact-me {
  text-decoration: none;
  padding: 2rem;
  margin-bottom: 2rem;
}
.contact-me input:not(input[type="submit"]),
textarea {
  border: none;
  box-shadow: 0 0 5px #075fe4;
  background-color: #000;
  color: #fff;
}

.contact-me input::placeholder,
textarea::placeholder {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #fff;
}
.contact-me .contact-title {
  text-align: center;
}

.contact-title {
  text-decoration: none;
}
.contact-me a {
  color: #fff;
  font-variant: small-caps;
  text-decoration: none;
  text-align: center;
}

.contact-me input[type="submit"] {
  padding: 1rem 2rem;
  border: 1px solid #075fe4;
  box-shadow: 0 0 5px #075fe4;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5rem;
  transition: 0.5s;
  color: #000000;
  background-color: #740909;
  color: #fff;
  border: none;

  &:hover {
    background-color: #000;
    color: #ffffff;
  }
}
@media screen and (max-width: 800px) {
  .contact-me {
    padding: 5rem;
  }
  .contact-me input[type="submit"] {
    width: 12rem;
  }
}
@media screen and (max-width: 500px) {
  .contact-me {
    padding: 1rem;

    text-align: center;
  }
  .contact-me input:not(input[type="submit"]),
  textarea {
    width: 25rem;
  }
  .contact-me input,
  .contact-me textarea {
    width: 90%;
    padding: 0.8rem;
    font-size: 0.9rem;
  }
  .contact-me input[type="submit"] {
    padding: 1rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .contact-me input:not(input[type="submit"]),
  textarea {
    width: 20rem;
  }
}
/* ========================== Footer section ============================= */

.footer-container {
  padding: 2rem;
  margin-top: 5rem;
  color: gray;
}
.footer-container .qoute {
  font-style: italic;
  margin-bottom: 1rem;

  padding: 2rem;
}

.location-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 2rem;
}

.location-info .info {
  margin-top: 1rem;
  color: gray;
}
.languages {
  padding: 0;
}

@media screen and (max-width: 800px) {
  .location-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    margin: 1rem;
  }
  .location-info h2 {
    font-size: 1.1rem;
  }
  .location {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .email {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .phone {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .education {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .languages {
    grid-column: 2/3;
    grid-row: 5/6;
    /* border: #fff solid 1px; */
    padding-top: 0;
  }
}
